<div class="row">
  <div class="col-sm-4 thumbnail" >
    <div>
      <img class="image-responsive" src="images/watis.png" height="250px"></img>
    </div>
    <div class="caption">
      <h3>Wat is laatste wens? </h3>
  <p class="infoTxt">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam lacinia nibh quis interdum. Vestibulum finibus, elit in luctus tristique, odio arcu elementum velit, vel semper ante risus ac tortor. Aliquam in varius purus. Donec consectetur lectus
    sit amet purus blandit faucibus. Phasellus nec sapien justo. Nullam odio tortor, condimentum vel commodo eu, viverra in leo. Quisque  </p>
  </div>
  </div>
  <div class="col-sm-4 thumbnail">
        <div>
      <img class="image-responsive" src="images/watis.png" height="250px"></img>
    </div>
    <div class="caption">
  <h3 >Waarom?</h3>
  <p class="infoTxt">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam lacinia nibh quis interdum. Vestibulum finibus, elit in luctus tristique, odio arcu elementum velit, vel semper ante risus ac tortor. Aliquam in varius purus. Donec consectetur lectus
    sit amet purus blandit faucibus. Phasellus nec sapien justo. Nullam odio tortor, condimentum vel commodo eu, viverra in leo. Quisque 
  </p>
  </div>
  </div>
  <div class="col-sm-4 thumbnail">
    <div>
      <img class="image-responsive" src="images/watis.png" height="250px"></img>
    </div>
    <div class="caption">
  <h3 >Wie? </h3>
  <p class="infoTxt">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam lacinia nibh quis interdum. Vestibulum finibus, elit in luctus tristique, odio arcu elementum velit, vel semper ante risus ac tortor. Aliquam in varius purus. Donec consectetur lectus
    sit amet purus blandit faucibus. Phasellus nec sapien justo. Nullam odio tortor, condimentum vel commodo eu, viverra in leo. Quisque </p>
  </div> 
  </div>
</div>
